<div class="file-view html-viewer">
    <div class="file-view__header">
        <span>HTML Viewer</span>
        <span>carpet.html</span>
    </div>
    <div class="file-view__main">
        <div class="line-numbers line-numbers_html">
            <span>1</span>
            <br />
            <span>2</span>
            <br />
            <span>3</span>
            <br />
            <span>4</span>
            <br />
            <span>5</span>
            <br />
            <span>6</span>
            <br />
            <span>7</span>
            <br />
            <span>8</span>
            <br />
            <span>9</span>
            <br />
            <span>10</span>
            <br />
            <span>11</span>
            <br />
            <span>12</span>
            <br />
            <span>13</span>
            <br />
            <span>14</span>
            <br />
            <span>15</span>
        </div>
        <div class="file-field file-field_html">
            <div class="file-field__text html-container">
                <pre><code class="html-input" id="codeContainer"></code></pre>
            </div>
        </div>
    </div>
</div>
