<div class="file-view css-editor">
    <div class="file-view__header">
        <span>CSS Editor</span>
        <span>style.css</span>
    </div>
    <div class="file-view__main">
        <div class="line-numbers">
            <span>1</span>
            <br />
            <span>2</span>
            <br />
            <span>3</span>
            <br />
            <span>4</span>
            <br />
            <span>5</span>
            <br />
            <span>6</span>
            <br />
            <span>7</span>
            <br />
            <span>8</span>
            <br />
            <span>9</span>
            <br />
            <span>10</span>
            <br />
            <span>11</span>
            <br />
            <span>12</span>
            <br />
            <span>13</span>
            <br />
            <span>14</span>
            <br />
            <span>15</span>
        </div>
        <div class="file-field">
            <div class="input-group mb-3">
                <input
                    type="text"
                    class="form-control css-input"
                    placeholder="Type in a CSS selector"
                    aria-label="Type in a CSS selector"
                    aria-describedby="button-addon2"
                />
                <button class="btn btn-outline-secondary css-button" type="button" id="input-btn">Enter</button>
            </div>
            <div class="file-field__text">
                <p>
                    &nbsp;&nbsp;{<br />
                    &nbsp;&nbsp;/* Styles would go here. */<br />
                    &nbsp;&nbsp;}
                </p>
                <p>
                    <br />
                    &nbsp;&nbsp;/*
                    <br />
                    &nbsp;&nbsp;Type a number to skip to a level.
                    <br />
                    &nbsp;&nbsp;Ex &rarr; "3" for level 3
                    <br />
                    &nbsp;&nbsp;*/
                </p>
            </div>
        </div>
    </div>
</div>
